.button {
  cursor: pointer;
  color: $gray-4;
  font-size: rem(10px);
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: $gray-1;
  border: none;
  border-radius: rem(40px);
  padding: rem(14px) rem(16px);
  &:hover {
    background: $gray-2;
  }
}
