.point {
  stroke: $gray-2;
  stroke-width: 5;
  fill: $white;
  cursor: pointer;
  transition: fill 0.2s;

  &:hover {
    fill: $green;
  }
}

.anchor {
  stroke: $gray-3;
  stroke-width: 5;
  fill: $white;
  cursor: pointer;
  opacity: 0.6;
}

.anchor-active {
  stroke: $gray-3;
  opacity: 1;
  fill: $white;
}

.point-active {
  fill: $green;
}

.point-first {
  stroke: $green;
}

.line {
  stroke: $gray-3;
  stroke-dasharray: 5 5;
  stroke-width: 1;
  opacity: 0.6;
}

.line-active {
  opacity: 1;
}
