@import "./common/FormBase.module.scss";

.range-wrapper {
  display: flex;
}
.range-label {
  @extend %label;
}

.range-input {
  @extend %input-field;
  margin-left: rem(20px);
}

.range-slider {
  width: 100%;
  height: rem(14px);
  border-radius: rem(30px);
  background-color: $gray-1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: rem(18px);
    width: rem(18px);
    background-color: $white;
    border: rem(4px) solid $white;
    border-radius: 50%;
    background: $gray-1;

    &:active,
    &:hover,
    &:focus {
      border-color: $green;
    }
  }

  &::-moz-range-thumb {
    box-sizing: border-box;
    cursor: pointer;
    height: rem(18px);
    width: rem(18px);
    background-color: $white;
    border: rem(4px) solid $white;
    border-radius: 50%;
    background: $gray-1;

    &:hover,
    &:active,
    &:focus {
      border-color: $green;
    }
  }
}
